# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SplitterExample.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Johannes\Documents\Git\SplitterExample\.idea\.idea.SplitterExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
